body{
    background-color: black;
}

.logo{
    width: 20%;
}

.logonation{
    text-align: center;
}

.lionback{
    width: 60%;
    filter: brightness(20%);
    vertical-align: middle;
}
.likeback{
    text-align: center;
    margin-top: 10%;
}
.l_text{
    color: rgb(100, 100, 100);
    padding:4%;
    margin-top:90%;
}

.m_img{
    width:100%;
    
}
.main_img{
    background-color: white;
    margin-top: 20%;
}

.foot_img{
    width: 3%;
}
.mid{
    width:100%;
    margin: 10px auto;
    position:relative;
}

.white{
    width: 100%;
}
.sang_logo{
    width: 50%;
    text-align: center;
}
#int{
    text-align: center;
}
.logoda{
    margin-top:-50%;
    text-align: center;
}

.text_1{
    padding-top: 10%;
    text-align: center;
}

.txt1{
    width:70%;
    margin-bottom:5%;
}

.txt2{
    width: 70%;
}

.lion_img3{
   margin-top:10%;
   width: 12%;
   padding-bottom: 10%;
}

.img_foot{
    width:50%;
}
.m_1{
    color:white;
    position:relative;
    margin-top: -102%;
   
    width:100%;
   
    font-size:8vh;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}