* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    
}

h1 {
    padding-left: 3%;
    text-align: left;
    color: white;
    padding-bottom: 20px;
}

.box {
    animation: 1s ease-in-out loadEffect1;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 15%;;
    display: grid;
    grid-template-columns: 10% 50% 35%;
    grid-template-rows: 35% 65%;
    background-color: black;
}

.box .box__number{
    margin-top: 5%;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 600;
    font-size: 4.5vh;
    color: #ff7f00;
}
.box .box__title {
    padding-left: 15px;
    text-align: left;
    font-size: 2.5vh;
    margin-top: 10%;
    text-align: bottom;
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: 500;
    color: white;
}

.box .box__content {
    font-size: 2.6vh;
    margin-top: 20px;
    padding-left: 50px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    text-align: right;
}

.img1 {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 80%;
}

.box2 {
    animation: 0.5s ease-in-out loadEffect1;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 15%;;
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 35% 65%;
    background-color: black;
}

.box2 .box__number2 {
    margin-top: 5%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 600;
    font-size: 4.5vh;
    color: #ff7f00;
}

.box2 .box__number3 {
    margin-top: -7%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 600;
    font-size: 4.5vh;
    color: #ff7f00;
}

.box2 .box__title2 {
    padding-left: 15px;
    text-align: left;
    font-size: 2.5vh;
    margin-top: 10%;
    text-align: bottom;
    grid-column-start: 3;
    grid-column-end: 4;
    font-weight: 500;
    color: white;
}

.box2 .box__content2 {
    font-size: 2.6vh;
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    text-align: left;
}

.box2 .box__content3 {
    font-size: 2.6vh;
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    text-align: left;
}

.box3 {
    animation: 1.3s ease-in-out loadEffect1;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 15%;;
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 35% 65%;
    background-color: black;
}

.box3 .box__number2 {
    margin-top: 5%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 600;
    font-size: 4.5vh;
    color: #ff7f00;
}

.box3 .box__number3 {
    margin-top: -7%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 600;
    font-size: 4.5vh;
    color: #ff7f00;
}

.box3 .box__title2 {
    padding-left: 15px;
    text-align: left;
    font-size: 2.5vh;
    margin-top: 10%;
    text-align: bottom;
    grid-column-start: 3;
    grid-column-end: 4;
    font-weight: 500;
    color: white;
}

.box3 .box__content2 {
    font-size: 2.6vh;
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    text-align: left;
}

.box3 .box__content3 {
    font-size: 2.6vh;
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    text-align: left;
}

.img2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 80%;
    padding-left: 10%;
    
}

.pre2 {
    margin-top: -35px;
}

.circle1 {
    margin-left: 15%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 22vh;
    height: 22vh;
    background-color: #ff7f00;
    border-radius: 50%;
}
.circle2 {
    margin-left: 15%;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 22vh;
    height: 22vh;
    background-color: white;
    border-radius: 50%;
}

.circle3 {
    margin-left: 15%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 21.8vh;
    height: 21.8vh;
    background-color: black;
    border-radius: 50%;
    border: 3px solid #ff7f00;
}

.month {
    vertical-align: middle;
    line-height: 160px;  
    text-align: center;
    font-size: 5vh;
    font-weight: 900;
    color: white;
}


.month2 {
    vertical-align: middle;
    line-height: 160px;  
    text-align: center;
    font-size: 5vh;
    font-weight: 900;
    color: #ff7f00;
}

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}